{% extends "ggPartyBundle::layout.html.twig" %}

{% block body %}
<script type="text/javascript">
    var days = array(
        'mon' => 'Lundi',
        'tue' => 'Mardi',
        'wed' => 'Mercredi',
        'thu' => 'Jeudi',
        'fri' => 'Vendredi',
        'sat' => 'Samedi',
        'sun' => 'Dimanche',
        );
</script>
<table id="table-search" class="table table-condensed">
    <a class="btn btn-success" id="organise_party"href="{{ path('party_new') }}">Organiser une partie</a>    
    <thead>
        <tr>
            <th>Jour</th>
            <th>Date</th>
            <th>Où</th>
            <th>Jeu(x)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="days">{{ entity.gwhen|date("D") }}</td>
            <td>{{ entity.gwhen|date("d/m/y") }}</td>
            <td>{{ entity.gwhere }}</td>
            <td>{{ entity.gwhat }}</td>
            <td>
                <a class="btn btn-warning" href="{{ path('party_show', { 'id': entity.id }) }}">Detail</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}