{% extends "ggPartyBundle::layout.html.twig" %}

{% block body %}
    <h4>Nouvelle partie</h4>
    <br />
    <form id="form-new-party"class="form-horizontal" action="{{ path('party_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <div class="control-group">
                {{ form_label(form.gwho, 'Qui êtes vous', { 'attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.gwho,{ 'attr': {'class': 'input-xlarge',' rows':'3'}}) }}    
                </div>
            </div>
            <div class="control-group">
                {{ form_label(form.gwhere,'Où se déroule la partie', { 'attr': {'class': 'control-label'} }) }}
                <div class="controls">
                {{ form_widget(form.gwhere, { 'attr': {'class': 'input-xlarge'}}) }}    
                </div>
            </div>
            <div class="control-group">
                {{ form_label(form.gwhen,'Date partie',{ 'attr': {'class': 'control-label'} }) }}
                <div class="controls">    
                {{ form_widget(form.gwhen,{'attr':{'class':'datepicker input-date span3'}}) }}    
                </div>
            </div>
            <div class="control-group">
                {{ form_label(form.gwhat,'A quel jeu prévoyez vous de jouer',{ 'attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.gwhat,{ 'attr': {'class': 'input-xlarge',' rows':'3'}}) }}    
                </div>
            </div>
            <div class="control-group">
                {{ form_label(form.ghow,'Infos complémentaire',{ 'attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.ghow,{ 'attr': {'class': 'input-xlarge',' rows':'3'}}) }}    
                </div>
            </div>
            <div class="control-group">
                {{ form_label(form.email,'Votre email',{ 'attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.email,{ 'attr': {'class': 'input-xlarge'}}) }}    
                </div>
            </div>
            <div class="control-group">                
                <div class="controls">
                    <button class="btn btn-success" type="submit">Create</button>    
                    <a class="btn btn-primary" href="{{ path('party') }}">Back to the list</a>
                </div>
            </div>            
        </fieldset>
        {{ form_rest(form) }}
        
        
    </form>    
{% endblock body %}
{% block script %}    
{{ parent() }}
<script>
    
    $(function() {
        var addresspicker = $( "#addresspicker" ).addresspicker();
        var addresspickerMap = $( "#gg_bundle_partybundle_partytype_gwhere" ).addresspicker({
        elements: {
        map: "#new-party-map",
        lat: "#gg_bundle_partybundle_partytype_Latitude",
        lng: "#gg_bundle_partybundle_partytype_Longitude",
        locality: '#gg_bundle_partybundle_partytype_Locality',
        country: '#gg_bundle_partybundle_partytype_Country'
        }
        });
        var gmarker = addresspickerMap.addresspicker( "marker");
        gmarker.setVisible(true);
        addresspickerMap.addresspicker( "updatePosition");
    });
</script>
{% endblock %}
