{% extends "ggPartyBundle::layout.html.twig" %}


{% block body %}
<h4>Détail d'une partie</h4>
<br />
<table class="table">
    <tbody>
        <tr>
            <th>Qui</th>
            <td>{{ entity.gwho }}</td>
        </tr>
        <tr>
            <th>Où</th>
            <td>{{ entity.gwhere }}</td>
        </tr>
        <tr>
            <th>Quand</th>
            <td>{{ entity.gwhen|date('Y-m-d H:i:s')  }}</td>
        </tr>
        <tr>
            <th>Jeu(x)</th>
            <td>{{ entity.gwhat }}</td>
        </tr>
        <tr>
            <th>Infos</th>
            <td>{{ entity.ghow }}</td>
        </tr>
        
        <tr>
            <th>Email</th>           
            <td><a class="btn" data-toggle="modal" href="#writeDialog"><i class="icon-envelope"></i> {{ entity.email }}</a></td>
        </tr>

         <tr>
            <th></th>           
            <td><a class="btn btn-info" href="{{ path('party') }}">Back to the list</a></td>
        </tr>

    </tbody>
</table>
<div class="modal hide" id="writeDialog">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Modal header</h3>
    </div>

    <form class="form-horizontal" action="{{ path('partysendemail',{ 'id': entity.id }) }}" method="post" {{ form_enctype(form_email) }}>
        <div class="modal-body">
            {{ form_rest(form_email) }}
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <button type="submit" class="btn btn-success">Save changes</a>
        </div>
    </form> 
</div>

{% endblock body %}